*{
    font-family: 'Roboto','sans-serif';
    box-sizing: border-box;
}

h1{
    color: white;
    text-align: center;
}

body{
    background-color: #12FCD5;
    
}

.content{
    padding: 1rem;
    background-color: #F80921;
    height: 100vh;
    width: 100vw;
}

.white{
    background-color: #FFF88B;
    border-radius: 1rem;
}

@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

